ul
{
 	list-style-type: none;
	padding: 0;
	margin: 0;
	display: block;
}

fieldset {	
	float: left;
}

.fsouter {
	border-width: thick;
	border-color: #000000;
	border-style: double;
}

.fsinner {
	clear:left;
	border-width: thin;
	border-color: #000000;	
	border-style: solid;
}

.divsvgtarget {
	clear: left;
}

.divoutersvg {
  overflow: hidden;
  resize: both;
}	

.divinnersvg {
	border-width: thick;
	border-color: #000000;
	border-style: double;
}

.label {
	width: 15em;
	display: block;
	float: left;
	white-space: nowrap;
}

.shortlabel {
	width: 5em;
	display: block;
	float: left;
}